*
{
    color: wheat;  
    font-family: baskerville;  
}

@font-face {
    font-family: baskerville;
    src: url(/js/fonts/baskervilleoldface.ttf);
  }

#fond
{
    background-color: #02467b;
}

nav
{
    background-color: gray;
    background-image:linear-gradient(rgba(215, 215, 215, 1), rgba(135, 135, 135, 1));
    border-radius: 15px 15px 15px 15px;
}

nav>a
{
    color: white;    
    margin-left: 5%;
    margin-right: 5%;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 60%;
    background-image:linear-gradient(rgba(2, 70, 123, 1), rgba(0, 212, 255, 1));
}

h1
{
    text-align: center;
    line-height: 36px;
}

#titre
{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#index_img-1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    width: 75%;
    margin-bottom: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow:5px 5px 5px rgba(0, 70, 123, 1);
}

#section
{
    display: flex;
    justify-content: center;
}

#bloc_phare
{
    background-image:linear-gradient(rgba(2, 70, 123, 1), rgba(0, 212, 255, 1));
    padding: 25px 25px 25px 25px;
    margin: 5px;
    border-style: solid;
    border-color: rgba(2, 70, 123, 1);
    border-width: 3px;
    border-radius: 15px 15px 15px 15px;
    box-shadow:5px 5px 5px rgba(2, 70, 123, 1);
}

#bloc_presentation
{
    background-image:linear-gradient(rgba(2, 70, 123, 1), rgba(0, 212, 255, 1));
    padding: 25px 25px 25px 25px;
    margin: 5px;
    border-style: solid;
    border-color: rgba(2, 70, 123, 1);
    border-width: 3px;
    border-radius: 15px 15px 15px 15px;
    box-shadow:5px 5px 5px rgba(0, 70, 123, 1);
}

#bloc_presentation>p
{
    font-size: 1em;
}

.recto, .verso
{
    width: 275px;
    height: auto;
}